<%#= image_tag 'cruz.jpg', id: "self" %>

<a href="/v2">
  <div class="wtf">
    <span></span>
    <span></span>
    <span></span>
  </div>
</a>

<div class="container">
  <div class="slide" style="background-image: url(<%= asset_path 'cruz.jpg' %>)">
    <h1>
      Cruz Núñez
    </h1>
    <footer>
      Full-stack Developer
    </footer>
    <div>
      <%= link_to 'https://www.linkedin.com/in/cruznunez', class: 'link' do %>
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
      <% end %>
      <%= link_to 'https://github.com/cruznunez', class: 'link' do %>
        <i class="fa fa-github-square" aria-hidden="true"></i>
      <% end %>
      <%= link_to 'mailto:nunez.a.cruz@gmail.com', class: 'link' do %>
        <i class="fa fa-envelope" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>

  <div class="slide-divider">
    <h3>About</h3>

    <p>
      Hi I'm Cruz! I'm a full stack web developer. Feel free to look around.
    </p>
  </div>

  <!-- <div id="slide1" class="slide">
    <h1>
      Project 1
    </h1>
    <footer>
      I like this project
    </footer>
  </div>

  <h3>Words words</h3>

  <div id="slide2" class="slide">
    <h1>
      Project 2
    </h1>
    <footer>
      This project was lit 🔥
    </footer>
  </div> -->

  <% @projects.each do |project| %>
    <div class="container">
      <div class="slide" style="background-image: url(<%= project.image.link %>)">
        <h1>
          <%= project.name %>
        </h1>
      </div>
    </div>

    <div class="slide-divider">
      <p>
        <%= project.description.html_safe %>
      </p>

      <p>
        <%= project.additional_information.html_safe %>
      </p>
    </div>
  <% end %>
</div>
