<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.search_field :name, class: "tumblr-input", placeholder: "name", autofocus: true, autocomplete: :off %>
  </div>
  <div>
    <%= f.search_field :password, class: "password-field tumblr-input", placeholder: "password", "data-clear-btn" => true %>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit class: "big-button" %>
  </div>
<% end %>
