<div class="slide-2" style="background-image: url(<%= @project.image.link %>)">
</div>

<div class="slide-divider">
  <h1><%= @project.name %></h1>

  <p>
    <%= @project.description.html_safe %>
  </p>

  <p>
    <%= @project.additional_information.html_safe %>
  </p>

  <%= render "technologies", project: @project %>

  <p>
    <%= link_to 'Repository', @project.repo_url %>
  </p>

  <p>
    <%= link_to 'Live site', @project.live_site %>
  </p>

  <%= link_to 'Edit', edit_v2_project_path(@project) %> |
  <%= link_to 'Back', v2_root_path %>
</div>
