<div class="project">
  <h3>
    <a class="project-title" href="javascript:void(0)">
      COMING SOON: Where We DREAM
    </a>
  </h3>
  <p>
    Where We DREAM will be a tool for immigrant students to use in their incredibly difficult fight for education. It will bring highly needed information about schools, scholarships, students, and sponsors to anyone with an internet connection. Stay tuned!
  </p>
</div>

<div class="project">
  <h3>
    <a class="project-title" href="http://jamconnect.org/">
      Jam Connect
    </a>
  </h3>
  <a href="http://jamconnect.org/">
    <%= image_tag 'jam_connect_1.png', id: 'jam-connect', class: 'shadow'%>
  </a>
  <p>
    Jam Connect is about connecting musicians together based on what matters most: the music.
  </p>
  <p>
    Technologies:
  </p>
  <div class="triplets">
    <li><a href="http://rubyonrails.org/" class="pop">Ruby on Rails</a></li>
    <li><a href="https://en.wikipedia.org/wiki/JavaScript" class="pop">JavaScript</a></li>
    <li><a href="https://jquery.com/" class="pop">jQuery</a></li>
    <li><a href="http://jqueryui.com/" class="pop">jQuery UI</a></li>
    <li><a href="https://github.com/codahale/bcrypt-ruby" class="pop">Bcrypt</a></li>
  </div>
  <div class="triplets">
    <li><a href="https://github.com/thoughtbot/paperclip" class="pop">Paperclip</a></li>
    <li><a href="https://transloadit.com/" class="pop">Transloadit</a></li>
    <li><a href="http://fortawesome.github.io/Font-Awesome/" class="pop">Font Awesome</a></li>
    <li><a href="http://aws.amazon.com/s3/" class="pop">AWS S3</a></li>
    <li><a href="https://github.com/jnunemaker/httparty" class="pop">HTTParty</a></li>
  </div>
  <div class="triplets">
    <div class="mobile-twin">
      <li><a href="http://www.zipwise.com/data/" class="pop">Zipwise API</a></li>
      <li><a href="http://touchpunch.furf.com/" class="pop">Touch Punch</a></li>
      <li><a href="http://parsleyjs.org/" class="pop">parsley.js</a></li>
    </div>
    <div class="mobile-twin">
      <li><a href="http://radio.uxder.com/" class="pop">radio.js</a></li>
      <li><a href="http://bl.ocks.org/mbostock/4339083" class="pop">D3<span class="text">.js</span> Tree Layout</a></li>
    </div>
  </div>
  <div class="twins">
    <p>
      <a href="http://jamconnect.org/" class="pop">
        <i class="fa fa-hand-o-up fa-lg project-icon"></i>
        Live Site
      </a>
    </p>
  </div>
  <div class="twins">
    <p>
      <a href="https://github.com/MusiciansToolbox/musician_toolbox" class="pop">
        <i class="fa fa-github-square fa-lg project-icon"></i>
        Github Repo
      </a>
    </p>
  </div>
  <p>
    Want to see something cool? After
    <a href="http://jamconnect.org/users/new" class="blue-underline">creating a profile</a>,
    in the home page, type in "← → a q f r ↑ ↓ ← →" in that order.
  </p>
</div>

<div class="project">
  <h3>
    <a class="project-title" href="https://agile-anchorage-4715.herokuapp.com/">
      To-Do List
    </a>
  </h3>
  <a href="https://agile-anchorage-4715.herokuapp.com/">
    <%= image_tag 'to_do_list_1.png', id: 'to-do-list', class: 'shadow' %>
  </a>
  <p>
    A simple app to help keep notes or reminders for yourself. You can use it as a to-do list. This was our first project using JavaScript, jQuery and AJAX.
  </p>
  <p>
    Technologies:
  </p>
  <div class="twins">
    <li><a href="http://rubyonrails.org/" class="pop">Ruby on Rails</a></li>
    <li><a href="https://en.wikipedia.org/wiki/JavaScript" class="pop">JavaScript</a></li>
  </div>
  <div class="twins">
    <li><a href="https://jquery.com/" class="pop">jQuery</a></li>
    <li><a href="http://foundation.zurb.com/" class="pop">Foundation</a></li>
  </div>
  <div class="twins">
    <p>
      <a href="https://agile-anchorage-4715.herokuapp.com/" class="pop">
        <i class="fa fa-hand-o-up fa-lg project-icon"></i>
        Live Site
      </a>
    </p>
  </div>
  <div class="twins">
    <p>
      <a href="https://github.com/John-Cruz/toDoList" class="pop">
        <i class="fa fa-github-square fa-lg project-icon"></i>
        Github Repo
      </a>
    </p>
  </div>
</div>

<div class="project">
  <h3>
    <a class="project-title" href="https://filloutthissurveypls.herokuapp.com/">
      Survey Opossum
    </a>
  </h3>
  <a href="https://filloutthissurveypls.herokuapp.com/">
    <%= image_tag 'opossum_1.png', id: 'survey', class: 'shadow'%>
  </a>
  <p>
    Here you can create surveys for anyone to take.
  </p>
  <p>
    Technologies:
  </p>
  <div class="twins">
    <li><a href="http://rubyonrails.org/" class="pop">Ruby on Rails</a></li>
    <li><a href="https://en.wikipedia.org/wiki/JavaScript" class="pop">JavaScript</a></li>
  </div>
  <div class="twins">
    <li><a href="https://jquery.com/" class="pop">jQuery</a></li>
    <li><a href="http://purecss.io/" class="pop">Pure.css</a></li>
  </div>
  <div class="twins">
    <p>
      <a href="https://filloutthissurveypls.herokuapp.com/" class="pop">
        <i class="fa fa-hand-o-up fa-lg project-icon"></i>
        Live Site
      </a>
    </p>
  </div>
  <div class="twins">
    <p>
      <a href="https://github.com/cruz-mark-royce/opossum" class="pop">
        <i class="fa fa-github-square fa-lg project-icon"></i>
        Github Repo
      </a>
    </p>
  </div>
</div>

<div class="project">
  <h3>
    <a class="project-title" href="http://enigmatic-journey-6766.herokuapp.com/">
      Health Tracker
    </a>
  </h3>
  <a href="http://enigmatic-journey-6766.herokuapp.com/">
    <%= image_tag 'health_tracker_1.png', id: 'survey', class: 'shadow'%>
  </a>
  <p>
    Track your health, from calories consumed, to calories burned off, to total steps taken.
  </p>
  <p>
    Technologies:
  </p>
  <div class="twins">
    <li><a href="http://rubyonrails.org/" class="pop">Ruby on Rails</a></li>
  </div>
  <div class="twins">
    <li><a href="http://getbootstrap.com/" class="pop">Bootstrap</a></li>
  </div>
  <div class="twins">
    <p>
      <a href="http://enigmatic-journey-6766.herokuapp.com/" class="pop">
        <i class="fa fa-hand-o-up fa-lg project-icon"></i>
        Live Site
      </a>
    </p>
  </div>
  <div class="twins">
    <p>
      <a href="https://github.com/cruz-scott/health_tracker" class="pop">
        <i class="fa fa-github-square fa-lg project-icon"></i>
        Github Repo
      </a>
    </p>
  </div>
</div>

<div class="project">
  <h3>
    <a class="project-title" href="https://drive-or-flight.herokuapp.com/">
      Drive or Flight
    </a>
  </h3>
  <a href="https://drive-or-flight.herokuapp.com/">
    <%= image_tag 'drive_or_flight_1.png', id: 'drive-or-flight', class: 'shadow' %>
  </a>
  <p>
    Drive or Flight uses three separate APIs to create a cost summary for any trip in the US and helps you decide between either flying or driving there.
    <br/>
    We were also told to add some D3 visualization for the first time, so I added the rainbow worm.
  </p>
  <p>
    Technologies:
  </p>
  <div class="triplets">
    <li><a href="http://rubyonrails.org/" class="pop">Ruby on Rails</a></li>
    <li><a href="https://en.wikipedia.org/wiki/JavaScript" class="pop">JavaScript</a></li>
    <li><a href="http://bl.ocks.org/mbostock/4165404" class="pop"><span class="text">D3.js</span> Rainbow Worm</a></li>
  </div>
  <div class="triplets">
    <li><a href="https://developers.google.com/maps/documentation/directions/intro" class="pop adjustable">Google <span class="text-mobile">Maps</span><span class="text">Directions</span> API</a></li>
    <li><a href="https://developers.google.com/qpx-express/" class="pop">QPX Express API</a></li>
    <li><a href="http://www.fueleconomy.gov/feg/ws/#fuelprices" class="pop">Fuel <span class="text">Economy</span><span class="text-mobile">Price</span> API</a></li>
  </div>
  <div class="triplets">
    <div class="mobile-twin">
      <li><a href="https://github.com/jnunemaker/httparty" class="pop">HTTParty</a></li>
    </div>
    <div class="mobile-twin">
      <li><a href="https://github.com/sporkmonger/addressable" class="pop">Addressable</a></li>
    </div>
  </div>
  <div class="twins">
    <p>
      <a href="https://drive-or-flight.herokuapp.com/" class="pop">
        <i class="fa fa-hand-o-up fa-lg project-icon"></i>
        Live Site
      </a>
    </p>
  </div>
  <div class="twins">
    <p>
      <a href="https://github.com/cj-novel-api/novel_api" class="pop">
        <i class="fa fa-github-square fa-lg project-icon"></i>
        Github Repo
      </a>
    </p>
  </div>
</div>

<div class="project">
  <h3>
    <a class="project-title" href="http://cruz-weather-report.herokuapp.com/">
      Cruz's Weather Report
    </a>
  </h3>
  <a href="http://cruz-weather-report.herokuapp.com/">
    <%= image_tag 'cruz_weather_report_1.png', id: 'weather-report', class: 'shadow' %>
  </a>
  <p>
    This was our first time dealing with APIs. It tells you the weather based on zip code. I later came back and added a simple User Interface.
  </p>
  <p>
    Technologies:
  </p>
  <div class="triplets">
    <li><a href="http://rubyonrails.org/" class="pop">Ruby on Rails</a></li>
    <li><a href="https://en.wikipedia.org/wiki/JavaScript" class="pop">JavaScript</a></li>
  </div>
  <div class="triplets">
    <li><a href="http://www.wunderground.com/weather/api/d/docs?MR=1" class="pop">Weather <span class="text">Underground</span> API</a></li>
    <li><a href="https://github.com/jnunemaker/httparty" class="pop">HTTParty</a></li>
  </div>
  <div class="triplets">
    <li><a href="http://fortawesome.github.io/Font-Awesome/" class="pop">Font Awesome</a></li>
  </div>
  <div class="twins">
    <p>
      <a href="http://cruz-weather-report.herokuapp.com/" class="pop">
        <i class="fa fa-hand-o-up fa-lg project-icon"></i>
        Live Site
      </a>
    </p>
  </div>
  <div class="twins">
    <p>
      <a href="https://github.com/cruznunez/api_weather_report_app" class="pop">
        <i class="fa fa-github-square fa-lg project-icon"></i>
        Github Repo
      </a>
    </p>
  </div>
</div>

<div class="project">
  <h3>
    <a class="project-title" href="http://omr-pinteresting-cruz.com/">
      Pinteresting
    </a>
  </h3>
  <a href="http://omr-pinteresting-cruz.com/">
    <%= image_tag 'pinteresting_1.png', id: 'drive-or-flight', class: 'shadow' %>
  </a>
  <p>
    This is where it all started. Under
    <%= link_to 'Code The Dream', 'http://codethedream.org/', class: 'blue-underline' %>'s
    guidance, I entered
    <%= link_to 'One Month Rail\'s program', 'https://onemonth.com/courses/one-month-rails', class: 'blue-underline' %>,
    creating my own version of
    <%= link_to 'Pinterest', 'https://www.pinterest.com/', class: 'blue-underline' %>.
  </p>
  <p>
    Technologies:
  </p>
  <div class="twins">
    <li><a href="http://rubyonrails.org/" class="pop">Ruby on Rails</a></li>
    <li><a href="https://github.com/thoughtbot/paperclip" class="pop">Paperclip</a></li>
  </div>
  <div class="twins">
    <li><a href="http://fortawesome.github.io/Font-Awesome/" class="pop">Font Awesome</a></li>
    <li><a href="http://getbootstrap.com/" class="pop">Bootstrap</a></li>
  </div>
  <div class="twins">
    <p>
      <a href="http://omr-pinteresting-cruz.com/" class="pop">
        <i class="fa fa-hand-o-up fa-lg project-icon"></i>
        Live Site
      </a>
    </p>
  </div>
  <div class="twins">
    <p>
      <a href="https://github.com/cruznunez/pinteresting" class="pop">
        <i class="fa fa-github-square fa-lg project-icon"></i>
        Github Repo
      </a>
    </p>
  </div>
</div>
