<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @technology.name %>
</p>

<p>
  <strong>Long name:</strong>
  <%= @technology.long_name %>
</p>

<p>
  <strong>Link:</strong>
  <%= @technology.link %>
</p>

<%= link_to 'Edit', edit_technology_path(@technology) %> |
<%= link_to 'Back', technologies_path %>
