<!DOCTYPE html>
<html>
  <head>
    <% title @page %>
    <%= display_meta_tags %>
    <meta name="viewport" content="initial-scale=1">
    <link rel="icon" href=<%= asset_url("logo.png") %>>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
<body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/navigation' %>
    <section class="main-content">
      <%= yield %>
    </section>
    <% unless @page == 'Home' %>
      <%= render 'layouts/footer' %>
    <% end %>
  </body>
</html>
